@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*,html, body {
	margin: 0px;
}

/*Authorize*/
.auth{
	width: 600px;
	height: 700px;
	margin: 50px auto;
}
input{
	clear: both;
	float: left;
	margin: 10px 25%;
	width: 300px;
	height: 40px;
	text-indent: 10px;
}
.menu{
	width: 600px;
	height: 200px;
	float:left;
}
input[type="submit"], input[type="file"]{
	text-indent: 0px;
}
input[type="button"]
{
	clear: none;
	margin:0;
	width: 130px;
	height: 40px;
	float: left;
	text-indent: 0px;
}

#Registration{
	margin: 10px 0 0 150px;
}
#Authorization{
	float: right;
	margin: 10px 150px 0 0;
}

#errorsSignup, #errorsSignin {
	float: left;
	clear:both;
	width: 300px;
	margin: 10px 150px;
	display: block;
	color:red;
}

/*Signup*/
#divSignup{
	display: none;
}

/*Signin*/
#divSignin{
	display: block;
}

/*Chat room*/
.chat{
	width: 1000px;
	height: 900px;
	margin: 0 auto;
	display: none;
}

.drop-mess {
	padding: 8px;
	background: #fff;
	color: #64666e;
	border-radius: 1px;
	margin-top: 9px;
	padding: 15px;
	font-family: Roboto;
}


.message{
	width: 97%;
	height: 80%;
	border: 2px solid #ebedf1;
	box-shadow: 0px 0px 2px #5f5858;
	padding: 15px;
	background: #ebedf1;
	overflow: auto;
}
.chat-bottom {
    width: 100%;
    height: 20%;
    border: 2px solid #ebedf1;
    box-shadow: 0px 0px 1px black;
    color: #ebedf1;
}
#txtMessage{
	width: 994px;
	height: 100px;
}
#btnSend{
	margin: 0;
	width: 500px;
	height: 70px;
	background: #ebedf1;
	border: none;
	padding: 0;
	color: #a7a6ac;
	margin: 0;
	font-size: 24px;
	font-family: PT Sans, sans-serif;
}
#btnSend:hover{
	background: #dcdee2;
	cursor: pointer;
}

/* Это для поля, а не для кнопки */

#btnAttach:hover{
	cursor: pointer;
}

.btnAttach-dd{
	height: 50px;
	background: #ebedf1;
	border: none;
	float:left;
	width: 282px;
	color: #929292;
	padding: 10px 109px;
}



/*Pop Up Window */
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0px;
    display: none;
}
.b-popup .b-popup-content{ 
	margin:40px auto 0px auto; 
	width:600px; 
	height: 500px; 
	padding:10px; 
	background-color: #EDE9E9; 
	border-radius:5px; 
	box-shadow: 0px 0px 10px #000; 
	overflow: auto; 
}
.b-popup-x{
	float: right;
}
.b-popup-x:hover{
	cursor: pointer;
}
.b-popup-text{
	clear: both;
	float: left;
	margin: 0 10px;
}

/* Mini Style
===============*/

.name-mess {
	
color: #63636b;
	
box-shadow: none;
	
font-size: 16px;
	
text-shadow: none;
	
font-family: PT Sans, sans-serif;
}

input[type="file" i]::-webkit-file-upload-button {
    background: #a29fa9;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    border: none;
    padding: 10px 30px;
    text-indent: 0;
}
input[type="file" i]::-webkit-file-upload-button:hover {
    background: #74717B;
    cursor: pointer;
}

textarea {
resize: none;
}

.form-ad {
	background: #ebedf1;
}

.logo {
	background: url("../img/logo.png") no-repeat;
	width: 150px;
	height: 100px;
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
}